<div class="ui-topbar">
    <div class="ui-topbar-inner ui-wrap clearfix">
        <div class="ui-logo-wrap"><a href="/" title="兴业银行 - 直销银行"><img src="/static/images/base/home-logo.png" width="302" height="32" alt="兴业银行 - 直销银行"/></a></div>
    </div>
</div>