@{ 
    Layout = "~/_layout/passport/Main.cshtml";
    Page.Title = "设置新登录密码";
}
@section PageScript {
    <script src="/static/js/passport/common.js"></script>
    <script src="/static/js/passport/index.js"></script>
    <script>
    Zepto(function(){
        zim.page.checkQuery('token');
    });
    </script>
}
@RenderPage("~/_layout/base/header_back.cshtml")
<div class="ui-content">
    <div class="jqm-account-view">
        <ul class="ui-table jqm-account-span">
            <li>
                <span class="ui-td">新密码</span>
                <span class="ui-td">
                <input type="password" id="jqm-forgot-password1" placeholder="6-18位字符、数字或字母" >
                </span>
            </li>
            <li>
                <span class="ui-td">确认新密码</span>
                <span class="ui-td">
                <input type="password" id="jqm-forgot-password2" placeholder="与新密码一致" >
                </span>
            </li>
        </ul>
        <div class="jqm-wrapper"><button class="ui-action ui-btn1" data-action="reset-user-pwd3">修改</button></div>
    </div>
</div>