<div class="ui-footer">
    <div class="ui-wrapper">
        <div class="clearfix foot-links">
            <h6>友情链接:</h6>
            <ul class="clearfix">
                @*<li><a target="_blank" href="https://licai.suning.com/">苏宁理财</a></li>*@
                <li><a target="_blank" href="https://www.weicaifu.com/">新浪微财富</a></li>
                @*<li><a target="_blank" href="http://jr.jd.com/">京东金融</a></li>*@
                <li><a target="_blank" href="http://www.cjdao.com/">财经道</a></li>
                @*<li><a target="_blank" href="http://www.wangdaizhijia.com/">网贷之家</a></li>*@
                <li><a target="_blank" href="http://www.liepin.com/">猎聘网</a></li>
            </ul>
        </div>
        <div class="clearfix foot-about">
            <ul class="clearfix about-link">
                <li><a target="_blank" href="http://source.jinyinmao.com.cn/about/gaik/17_1.html">关于金银猫</a></li>
                <li><a target="_blank" href="http://source.jinyinmao.com.cn/chpl/">使用帮助</a></li>
                <li><a target="_blank" href="http://source.jinyinmao.com.cn/mize/4_1.html">免责申明</a></li>
                <li><a target="_blank" href="http://source.jinyinmao.com.cn/yyzz/2_1.html">营业执照</a></li>
                <li><a target="_blank" href="http://source.jinyinmao.com.cn/yisy/3_1.html">隐私说明</a></li>
                <li><a target="_blank" href="http://source.jinyinmao.com.cn/about/application/22_1.html">招贤纳士</a></li>
            </ul>
            <div class="clearfix about-us">
                <span>关注我们</span>
                <a class="nav-weibo" target="_blank" href="http://weibo.com/u/3822187413"><small>微博</small></a>
                <a class="nav-weixin" href="#"><small>微信</small><div class="ui-popup">
                    <div class="ui-popup-img"><img src="/static/images/user/dimcode-weixin.jpg" /></div>
                    <i class="ui-popup-left"></i>
                </div></a>
                <span class="nav-qqun">官方QQ群：368910758</span>
            </div>
            <div class="about-kefu">
                <em>客服热线（工作时间 9:00~18:00）</em>
                <strong>4008-556-333</strong>
                <a class="kefu-link" target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODA0MTAxM18xNzY5NDdfNDAwODU1NjMzM18yXw">在线客服<i class="nav-kefu"></i></a>
            </div>
        </div>
        <p class="foot-copyright">Copyright &copy; 2013-2014, 版权所有jinyinmao.com.cn 备案号：沪ICP备13042350号</p>
        <div class="foot-safelink">
            <a href="https://search.szfw.org/cert/l/CX20140725008512008605" target="_blank"><img src="/static/images/topic/footlink/b1.png" /></a>
            <a href="#"><img src="/static/images/topic/footlink/b2.png" /></a>
@*
<script src="https://seal.websecurity.norton.com/getseal?host_name=www.jinyinmao.com.cn&amp;size=XS&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=zh_cn"></script>
<span id="ss_img_wrapper_100-50_image_en"> 
<a href="https://cn.globalsign.com/" target="_blank" title="SSL安全网站签章"><img alt="SSL Certificate" border=0 id="ss_img" src="//seal.globalsign.com/SiteSeal/images/gs_noscript_100-50_en.gif"></a>
</span>
<script src="//seal.globalsign.com/SiteSeal/gs_image_100-50_en.js" defer></script> 
<img src="https://www.globalsign.net/evcert.cfm" title="EV SSL" alt="EV SSL" width="1" height="1" border=0>
*@
        </div>
    </div>
</div>
@RenderPage("~/_layout/base/_o_code.cshtml")