<div class="ui-navTop">
    <div class="ui-wrapper">
        <div class="ui-left">
            <span>
                <em>咨询电话</em>
                <strong><i class="nav-tel"></i>4008-556-333</strong>
            </span>
            <a href="#" class="app-mobile">
                <em class="nav-app"></em>手机上金银猫
                <div class="ui-popup">
                    <div class="ui-popup-img"><img src="/static/images/home/app-mobile.png" /></div>
                    <i class="ui-popup-top"></i>
                </div>
            </a>
        </div>
        <div class="ui-right top-marquee">
            <div id="top-marquee"></div>
        </div>
        @*
        <div class="ui-right">
            <a class="app-mobile" href="#"><i class="nav-app"></i>手机App<div class="ui-popup">
                <div class="ui-popup-img"><img src="/static/images/user/dimcode-app.jpg" /></div>
                <i class="ui-popup-top"></i>
            </div></a>
        </div>*@
    </div>
</div>