@{
    Layout = "~/_layout/user/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/user/resetpwd.js'></script>");
    NyanyaWebData userInfo = Request.GetData("/UserInfo");
    CatHelper.SignInCheck(userInfo);
}
@RenderPage("~/_layout/user/_Silder.cshtml", new { Data = userInfo, SilderMenu = "manage" })
<script>var mobile= @userInfo.Data.Cellphone</script>
<div class="per-right">
    <div class="my-card-title clearfix">
        @RenderPage("~/_layout/user/_back_user.cshtml", new { name = "账户管理" })
    </div>
    <div class="my-card-main reset-login-only">
        <div class="card-pwd-name reset-login-title">
            <h2><em>重置登录密码</em><span>（通过手机号校验，修改登录密码）</span></h2>
        </div>
        <div class="reset-login-forms">
            <ul class="buy-step-list auth-step-list">
                <li><div id="ui-msg-info" class="ui-msg"></div></li>
                <li>
                    <label class="lab">手机号：</label>
                    <div class="buy-plan clearfix">
                        <p class="buy-name">@CatHelper.FixCellphone(userInfo.Data.Cellphone)</p>
                    </div>
                </li>
                <li>
                    <label class="lab">短信校验码：</label>
                    <div class="buy-plan clearfix">
                        <div class="buy-code">
                            <input class="code-btn" id="getCode" type="button" value="获取校验码"><input id="code" maxlength="6" type="text" class="common-text auth-code">
                        </div>
                    </div>
                </li>
                <li style="padding-top:10px;">
                    <label class="lab">&nbsp;</label>
                    <div class="buy-plan clearfix">
                        <button class="btn-common ui-action" id="resetBtn1" data-action="reset-step1">下一步</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>










