@{
    Layout = "~/_layout/user/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/user/resetpwd.js'></script>");
    NyanyaWebData userInfo = Request.GetData("/UserInfo");
    CatHelper.SignInCheck(userInfo);
    string token = CatHelper.Request("token");
    if(token == ""){
        Response.Redirect("~/user/manage/reset/login-password-1");
    }
}
@RenderPage("~/_layout/user/_Silder.cshtml", new { Data = userInfo, SilderMenu = "manage" })
<script>
var mobile= @userInfo.Data.Cellphone;
var token = "@token";
</script>
<div class="per-right">
    <div class="my-card-title clearfix">
        @RenderPage("~/_layout/user/_back_user.cshtml", new { name = "账户管理" })
    </div>
    <div class="my-card-main reset-login-only">
        <div class="card-pwd-name reset-login-title">
            <h2><em>重置登录密码</em><span></span></h2>
        </div>
        <div class="reset-login-forms">
            <ul class="buy-step-list auth-step-list">
                <li><div id="ui-msg-info" class="ui-msg"></div></li>
                <li>
                    <label class="lab">登录密码：</label>
                    <div class="buy-plan clearfix">
                        <input type="password" id="password" class="common-text input-min">
                    </div>
                </li>
                <li>
                    <label class="lab">确认登录密码：</label>
                    <div class="buy-plan clearfix">
                        <input type="password" id="vpassword" class="common-text input-min">
                    </div>
                </li>
                <li style="padding-top:10px;">
                    <label class="lab">&nbsp;</label>
                    <div class="buy-plan clearfix">
                        <button class="btn-common ui-action" id="resetBtn2" data-action="reset-step2">确 定</button><a href="javascript:history.back(-1);" class="back-link">返回上一步</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>










