@using Cat
@{
    Layout = "~/_layout/home/_SiteMain.cshtml";
    Page.Title = "金银猫11.18周年庆，发财季震撼登陆";
}
<style>
.topic-container{
    padding-top:380px;
    background-image:url(/topic/20141118/list/b1.png);
    background-position:50% 0;
    background-repeat:no-repeat;
}
.topic-wrapper{
    height:318px;
    background-image:url(/topic/20141118/list/b2.png);
    background-position:50% 0;
    background-repeat:no-repeat;
}
.topic-wrapper p{display:none;}
</style>
<div class="topic-container">
	<div class="topic-wrapper">
        <P>185*****931童先生获得iPhone6一台</P>
        <p>133*****558黄先生获得1118现金红包</p>
        <p>137位用户获得喵喵生日蛋糕券</p>
        <p>1801位用户获得大转盘奖品</p>
        <p>7904位用户获得周年庆红包</p>
	</div>
</div>