@{
    Layout = "~/_layout/passport/_SiteMain.cshtml";
    PageData["Title"] = "金银猫 - 大金融心服务 - 个人注册";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/passport/register.js'></script>");
    dynamic loginInfo = Request.GetData("/UserInfo/Login");
    string backUrl = CatHelper.Request("backUrl", "/user/index");
    if (loginInfo.Data.Valid == true)
    {
        Response.Redirect(backUrl);
    }
}
@section PageStyle {
    <link rel="stylesheet" href="/static/css/login.css" />
    <script> var _backUrl = "@backUrl"; </script>
}
<div class="reg-success-outer">
    <div class="reg-success-top">
        <div class="reg-ok-title">
            <h1>恭喜您注册成功！</h1>
        </div>
        <div class="reg-ok-txt">
            <p>超过80%的用户立即进行银行卡绑定</p>
        </div>
    </div>
</div>
<div class="reg-success-bot">
    <div class="reg-success-title">
        <h2>距离您的理财之路仅一步之遥</h2>
    </div>
    <div class="reg-success-bind">
        <a href="/bankcard/setPassword" class="btn-link btn-common reg-success-link">立即绑定银行卡</a>
    </div>
    <div class="reg-success-return"><a href="/" class="reg-success-back orange">返回首页<i>&gt;</i></a></div>
</div>