<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="couchbase">
      <section name="nyanya" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsgPack" publicKeyToken="a2625990d5dc0167" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.3.0" newVersion="6.9.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <couchbase>
    <nyanya>
      <servers bucket="test" bucketPassword="Password01!" username="Administrator" password="Password01!">
        <add uri="http://couchbase1.test.ad.jinyinmao.com.cn:8091/pools" />
      </servers>
    </nyanya>
  </couchbase>
  <connectionStrings>
    <add name="AuthContext" connectionString="Data Source=fe_auth.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_Auth;Persist Security Info=True;User ID=sa;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="EventStore" connectionString="Data Source=fe_cqrs.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_CQRS;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="MeowContext" connectionString="Data Source=fe_meow.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_Meow;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="OrderContext" connectionString="Data Source=fe_order.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_Order;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="ProductContext" connectionString="Data Source=fe_products.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_Products;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="UserContext" connectionString="Data Source=fe_user.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_User;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="YilianContext" connectionString="Data Source=fe_yilian.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_YiLian;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="CommandLogStore" connectionString="Data Source=fe_cqrs.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_CQRS;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
    <add name="Hangfire" connectionString="Data Source=fe_cqrs.db.dev.ad.jinyinmao.com.cn;Initial Catalog=FE_Hangfire;Persist Security Info=True;User ID=User_nyanya;Password=Password01!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="RequestLogFile" value="D:/AppLogs/www.dev.ad.jinyinmao.com.cn/nyanya.Internal/Requests/" />
    <add key="CallbackRequests" value="D:/AppLogs/www.dev.ad.jinyinmao.com.cn/CallbackLogs/Requests/" />
    <add key="EventProcessorAddress" value="amqp://nyanya:password@localhost:5672" />
    <add key="CommandProcessorAddress" value="http://localhost:81/Service" />
    <add key="YilianPaymentGatewayHost" value="http://payment.test.ad.jinyinmao.com.cn:10000" />
    <add key="YilianUserAuthRequestUrl" value="/paycore/services/userAuthRequestService" />
    <add key="YilianUserAuthRequestReturnUrl" value="http://www.i.dev.ad.jinyinmao.com.cn:81/Callback/Yilian/UserAuth" />
    <add key="YilianPaymentRequestUrl" value="/paycore/services/easyLinkGatherRequestService" />
    <add key="YilianPaymentRequestReturnUrl" value="http://www.i.dev.ad.jinyinmao.com.cn:81/Callback/Yilian/Payment" />
    <add key="YilianQueryAuthRequestUrl" value="/paycore/services/easyLinkGatherQueryRequestService" />
    <add key="AppKey" value="B" />
    <add key="SmsEnable" value="True" />
    <add key="servicestack:license" value="1703-e1JlZjoxNzAzLE5hbWU6U2lxaSBMdSxUeXBlOkluZGllLEhhc2g6UDJENGtRRWttanFCRFlpYXcxeG1YR2xzd05yUFhUR1ZzdlJtWjJ4NjB6L3ZIUEZqQml5K2ZDRmUyNytGZC9kakRuUTdCNTlZdGg3YTZhbnY1UVBuYlZERFRySUVsT203Q1JhdUY3Sm9WWmtPWm15VEIrVGQrSndOaTVPWEZNYzhJSXptaksrOUlEUExLQ1BGdlV1N3hsWU5jV2x3SURLcWhXY2RKK1ViSFlzPSxFeHBpcnk6MjAxNS0wNy0wNn0=" />
  </appSettings>
</configuration>
