@using Cat
@{
    Layout = "~/_layout/user/_SiteMain.cshtml";
    Page.Title = "重置支付密码";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/user/reset/payment.js'></script>");
    string token = CatHelper.Request("token");
    dynamic userInfo = Request.GetData("/UserInfo");
    string bankNo = userInfo.Data.BankCardNo;
    bankNo = bankNo.GetLast(4);
    CatHelper.SignInCheck(userInfo);
}
@RenderPage("~/_layout/user/_Silder.cshtml", new { Data = userInfo, SilderMenu = "settings" })
<script>
    var _token = "@token";
</script>
<div class="content">
    <div class="ctt-block page-reset-password">
        <h3 class="ctt-head"><span>重置支付密码</span></h3>
        <div class="ctt-rows">
            <div class="ctt-rows-label">请填写尾号为 @bankNo 的银行借记卡卡号</div>
            <input type="text" class="ui-text card-input" maxlength="19" id="bankCard" placeholder="15~19位储蓄卡号" />
        </div>
        <div class="ctt-rows">
            <div class="ctt-rows-label">请填写持卡人证件号</div>
            <input type="text" class="ui-text card-input" maxlength="18" id="idCard" placeholder="储蓄卡开户证件" />
        </div>
        <div class="ctt-rows">
            <button class="ui-btn ui-action" data-action="reset-payment2">下一步</button>
        </div>
    </div>
</div>