<h2 class="jqm-star"><%=zim.page.getProductName(ProductName, ProductNumber)%></h2>
<h3>银行承兑</h3>
<strong class="jqm-yield"><em><%=Yield%></em><samp>%</samp></strong>
<ul class="clearfix">
    <li><em><%=UnitPrice*MinShareCount%></em>元起</li>
    <li><em><%=Period%></em>天</li>
    <li><span>固定收益</span></li>
</ul>
<button class="ui-btn1 ui-action" href="/amp/detail?id=<%=ProductNo%>">立即赚钱</button>