@{
    Layout = "~/_layout/payment/_SiteMain.cshtml";
    Page.Title = "首次认证";
    dynamic userInfo = Request.GetData("/UserInfo");
    CatHelper.SignInCheck(userInfo);
    if (userInfo.Data.HasSetPaymentPassword == true)
    {
        if (userInfo.Data.HasDefaultBankCard == true)
        {
            Response.Redirect("~/bankcard/add");
        }
        Response.Redirect("~/bankcard/identity");
    }
}
@section RequireCallback{
    require(['bankcard'], function(b){ b.setPassword.init() });
}
<div class="ctt-block page-identity">
    <h3 class="ctt-head"><span>首次认证</span></h3>
    @RenderPage("~/_layout/payment/_identity_step.cshtml", new { StepIndex = 1 })
    <div class="ctt-rows">
        <div class="ctt-rows-label">请输入支付密码</div>
        <input type="password" class="ui-text pwd-input" id="payment-pwd1" maxlength="18" placeholder="8~18位，数字，大小写字母，特殊字符" />
    </div>
    <div class="ctt-rows">
        <div class="ctt-rows-label">请确认支付密码</div>
        <input type="password" class="ui-text pwd-input" id="payment-pwd2" maxlength="18" placeholder="重复支付密码" />
    </div>
    <div class="ctt-rows">
        <button class="ui-action ui-btn" data-action="setPaymentPassword">下一步</button>
    </div>
    @RenderPage("~/_layout/base/_UnionPay.cshtml")
</div>