<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SmsServiceAddress" value="http://sms-api-dev-jym.yuyidev.com/" />
    <add key="SmsServiceAppId" value="0dcd384f-47a6-4083-bef4-a61bec55e12f" />
    <add key="SmsServiceAppKey" value="QGUc8eXBfhUNBYH5suNeAxZM8D6OkFklGkxnLtOrSjE=" />
  </appSettings>
</configuration>
