<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SmsServiceAddress" value="http://sms-api-dev-jym.yuyidev.com/" />
    <add key="SmsServiceAppId" value="541a74bc-cdf0-455d-9093-1aa5ec3cb7d3" />
    <add key="SmsServiceAppKey" value="rNAhdng2Tu1iXpH72jU2zLSW/hhxuGBxpBNSBBjwQEA=" />
  </appSettings>
</configuration>
