@{
    Layout = "~/_layout/passport/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
}
<div class="reset-outer reset-pwd-2">
    <div class="reset-inner">
        <div class="reset-title">
            <h1>找回交易密码 </h1>
        </div>
        <div class="reset-main">
            <div class="reset-success-forms">
                <div class="reset-success-wrap">
                    <h2>设置成功！</h2>
                    <div class="reset-success-info">
                        <p>您已经设置成功，请使用新交易密码登录。</p>
                        <p class="pt10"><a class="blue" href="/passport/login">点击登录</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









