@{
    Layout = "~/_layout/passport/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/passport/reset.js'></script>");
    dynamic loginInfo = Request.GetData("/UserInfo/Login");
    string loginName = loginInfo.Data.LoginName;
}
<div class="reset-outer reset-pwd-2">
    <div class="reset-inner">
        <div class="reset-title" id="resetTitle"></div>
        <div class="reset-main">
            <div class="reset-success-forms">
                <div class="reset-success-wrap">
                    <h2>设置成功！</h2>
                    <div class="reset-success-info">
                        <p>您已经设置成功，请下次使用新密码。</p>
                        @if(!string.IsNullOrEmpty(loginName)){
                        <p class="pt10">点击进入<a class="blue" href="/user/index">我的兴业票</a></p>
                        } else {
                        <p class="pt10"><a class="blue" href="/passport/login">点击登录</a></p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>