<% 
    var i=0, len = items.length, item = null;
    for(;i<len;i++){
    item = items[i];
%>
<li class="status-<%=item.ShowingStatus%>"><a href="/amp/detail?id=<%=item.ProductNo%>">
    <strong>
        <em><%=item.Yield%><samp>%</samp></em>
        <span class="jqm-prd-period"><%=item.Period%><samp>天</samp></span>
        <span class="jqm-min-price"><%=item.UnitPrice*item.MinShareCount%><samp>元起</samp></span>
        <span class="jqm-prd-price"><%=item.FinancingSum/10000%><samp>万</samp></span>
    </strong>
    <div>
        <h3><%=zim.page.getProductName(item.ProductName, item.ProductNumber)%></h3>
        <p>
            <% if(item.ShowingStatus == 50){ %>
                <span class="saleStatus">项目结束</span>
                <span>本息已经全部退还</span>
            <% } else if(item.ShowingStatus < 30) { %>
                <span class="saleStatus">待售</span>
                <span>开售时间 <%=zim.page.fmtDateTime(item.StartSellTime)%></span>
            <% } else if(item.ShowingStatus == 30) { %>
                <span class="saleStatus">抢购 已售出 <%=item.PaidPercent%>%</span>
                <span>起息时间 <%=zim.page.fmtValueDate(item)%></span>
            <% } else if(item.ShowingStatus == 40) { %>
                <span class="saleStatus">已售罄</span>
                <span>最迟还款日 <%=zim.page.fmtDate(item.RepaymentDeadline)%></span>
            <% } %>
            <span>无条件承兑行</span>
            <span><%=item.BankName%></span>
        </p>
    </div>
</a></li>
<% } %>