@{
    Layout = "~/_layout/app/Main.cshtml";
    Page.Title = "了解更多";
}
<div class="text-page">
    <h2>金银猫快捷支付简介</h2>
    <p>金银猫快捷支付是跟易联合作的代扣支付通道。用户只需绑定易联借记卡在自己的账户上，就能够方便地通过电脑及手机购买金银猫的产品。</p>
    <h2>风险控制：</h2>
    <h3>第一层.支付密码：</h3>
    <p>用户需要为快捷支付设定支付密码，在每一次需要付款的时候都会要求用户确认。</p>
    <h3>第二层.款项同卡进出原则：</h3>
    <p>当您购买的产品结息时，金银猫只会将本息归还到您购买所使用的银行账户中。这样，即使发生有人冒名购买，只要您保护好您的银行卡和密码，他人也无法将本息提出。</p>
    <h3>第三层.款项额度监控：</h3>
    <p>金银猫会实时监控每一笔打款请求，一旦发现数额可疑，会立即中止打款并人工介入调查。防微杜渐。</p>
    <h3>注意事项：</h3>
    <ol>
        <li>由于遵循同卡进出的原则，所以在本息未归还以前，请持卡人不要随意注销相关卡片，以免造成还款失败。</li>
        <li>请牢记自己的支付密码并不要随意告诉他人。</li>
        <li>每一次认证新的银行卡，都会试扣一笔1~5元的费用，此笔费用仅仅是为了验证账户是否有效。在认证结束之后会退还至原账户。同时也请保证认证银行卡中有5元以上的资费。</li>
    </ol>
</div>