@{ 
    Layout = "~/_layout/passport/Main.cshtml";
    Page.Title = "重置登录密码";
}
@section PageScript {
    <script src="/static/js/passport/common.js"></script>
    <script src="/static/js/passport/index.js"></script>
}
@RenderPage("~/_layout/base/header_back.cshtml")
<div class="ui-content">
    <div class="jqm-account-view">
        <h5>请输入您的注册手机号</h5>
        <ul class="jqm-account-span">
            <li>
                <input type="text" ime-mode="disabled" id="jqm-forgot-mobile" placeholder="11位手机号码" >
            </li>
        </ul>
        <div class="jqm-wrapper"><button class="ui-action ui-btn1" data-action="reset-user-pwd1">下一步</button></div>
    </div>
</div>