<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <couchbase xdt:Transform="Replace">
    <nyanya>
      <servers bucket="nyanya" bucketPassword="Password01!" username="Administrator" password="password01!">
        <add uri="http://couchbase1.dev.ad.jinyinmao.com.cn:8091/pools" />
      </servers>
    </nyanya>
  </couchbase>
  <nlog autoReload="true" throwExceptions="true" internalLogLevel="Error" internalLogFile="LogErrors.txt"
        xdt:Transform="Replace">
    <targets async="true">
      <target type="File" name="GlobalExceptions"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/nyanya.Internal/${date:format=yyyy-MM-dd}-GlobalExceptions.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="CommandBusLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CQRSLogs/CommandBusLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="CommandStoreLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CQRSLogs/CommandStoreLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="CommandHandlerLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CQRSLogs/CommandHandlerLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="EventBusLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CQRSLogs/EventBusLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="EventDispatcherLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CQRSLogs/EventDispatcherLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="EventHandlerLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CQRSLogs/EventHandlerLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="YilianPaymentGatewayServiceLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/YilianPaymentGatewayServiceLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="YilianCallbackLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CallbackLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="ProductShareCacheLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/ProductShareCacheLogs/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
      <target type="File" name="TraceLog"
              fileName="D:/AppLogs/www.test.ad.jinyinmao.com.cn/nyanya.Internal/${date:format=yyyy-MM-dd}-${level}.log"
              layout="${level}|${longdate}|${message}|${exception:innerFormat=Message,StackTrace:maxInnerExceptionLevel=10:innerExceptionSeparator=\n:separator=\n:format=Message,StackTrace}"
              encoding="utf-8" lineEnding="Default" />
    </targets>
    <rules>
      <logger name="GlobalExceptionLogger" final="true" writeTo="GlobalExceptions" />
      <logger name="CommandBusLogger" final="true" writeTo="CommandBusLog" />
      <logger name="CommandStoreLogger" final="true" writeTo="CommandStoreLog" />
      <logger name="CommandHandlerLogger" final="true" writeTo="CommandHandlerLog" />
      <logger name="EventBusLogger" final="true" writeTo="EventBusLog" />
      <logger name="EventDispatcherLogger" final="true" writeTo="EventDispatcherLog" />
      <logger name="EventHandlerLogger" final="true" writeTo="EventHandlerLog" />
      <logger name="YilianPaymentGatewayServiceLogger" final="true" writeTo="YilianPaymentGatewayServiceLog" />
      <logger name="CallbackLogger" final="true" writeTo="YilianCallbackLog" />
      <logger name="ProductShareCacheLogger" final="true" writeTo="ProductShareCacheLog" />
      <logger name="*" minlevel="Info" final="true" writeTo="TraceLog" />
    </rules>
  </nlog>
  <connectionStrings xdt:Transform="Replace">
    <add name="AuthContext"
         connectionString="Data Source=fe_auth.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_Auth;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="EventStore"
         connectionString="Data Source=fe_cqrs.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_CQRS;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="MeowContext"
         connectionString="Data Source=fe_meow.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_Meow;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="OrderContext"
         connectionString="Data Source=fe_order.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_Order;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="ProductContext"
         connectionString="Data Source=fe_products.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_Products;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="UserContext"
         connectionString="Data Source=fe_user.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_User;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="YilianContext"
         connectionString="Data Source=fe_yilian.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_YiLian;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="CommandLogStore"
         connectionString="Data Source=fe_cqrs.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_CQRS;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
    <add name="Hangfire"
         connectionString="Data Source=fe_cqrs.db.test.ad.jinyinmao.com.cn;Initial Catalog=FE_Hangfire;Persist Security Info=True;User ID=User_nyanya;Password=Password01!"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RequestLogFile" value="D:/AppLogs/www.test.ad.jinyinmao.com.cn/nyanya.Internal/Requests/"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace" />
    <add key="CallbackRequests" value="D:/AppLogs/www.test.ad.jinyinmao.com.cn/CallbackLogs/Requests/"
         xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="EventProcessorAddress" value="amqp://nyanya:password@rabbitmq.test.ad.jinyinmao.com.cn:5672"
         xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="CommandProcessorAddress" value="http://www.test.i.ad.jinyinmao.com.cn:81/Service"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace" />
    <add key="YilianUserAuthRequestReturnUrl" value="http://www.i.dev.ad.jinyinmao.com.cn:81/Callback/Yilian/UserAuth"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace" />
    <add key="YilianPaymentRequestReturnUrl" value="http://www.i.dev.ad.jinyinmao.com.cn:81/Callback/Yilian/Payment"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace" />
  </appSettings>
</configuration>