@using Cat
@{
    Layout = "~/_layout/home/_SiteMain.cshtml";
    Page.Title = "金银猫 - 大金融心服务 - 金银猫新版上线啦！";
}
@section PageStyle {
    <link rel="stylesheet" href="css/topic.css" />
}
<div class="home-banner-1"></div>
<div class="topic-container">
	<div class="topic-step"><img src="images/get-user-bg.png" height="159" width="700" alt=""></div>
	<div class="topic-main">
		<div class="topic-title">
			<h1>活动详情</h1>
		</div>
		<div class="topic-major">
			<p>庆金银猫新平台发布之喜，感恩每位加入金银猫的喵友，在庆新周（2014年8月18日-2014年8月24日）期间，凡在金银猫新官网成功投资“银企众盈”或“商票贷”项目单笔1,000元（含）以上的的金银猫用户均可获得“喵喵礼包”，礼包将在项目融资完成后三个工作日内直接返至投资的银行卡。</p>
			<div class="topic-items">
				<ul>
					<li><i>*</i> 2014年8月18日起注册的新用户可获“20元开门红礼包”；</li>
					<li><i>*</i> 2014年8月18日前注册的老用户可获“10元加油理财包”；</li>
					<li><i>*</i> 每位用户仅限领取一次礼包；</li>
				</ul>
			</div>
			<div class="topic-hande"><a href="/amp/list" title="快去领红包吧" target="_blank" class="topic-link"></a></div>
		</div>
	</div>
</div>