<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms name="JYM" slidingExpiration="false" timeout="105120000" cookieless="UseCookies"
             domain="" requireSSL="true" />
    </authentication>
  </system.web>
</configuration>