<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="SmsServiceEnable" value="true" />
    <add key="SmsServiceAddress" value="https://jym-dev-api-sms.yuyidev.com/" />
    <add key="SmsServiceAppId" value="38e9ad41-c1b2-44a0-ad2a-88acba74db9d" />
    <add key="SmsServiceApiKey"
         value="HbX+NpcfkW3oSYRkYKa35dw8CiNEx+bg+4lGRiYYsRUV5YP6sWJ031DYaMS1jgSTOYF8W4gQ+B14oZzJYU1lpxLQCpjBuct299omchoSENoXHEIn7CUxO1i0kbD8FF5f98fZhKCAq4xUHJVpakMkByfoc1MkHcq7GFw45EiwqketEuCZTWx4DLxLh6GyPWD0M5xqtVhVwM9bunnK1R2mcucW8vdONsTKHU5IC9uejom/xMOywS/WkdDDAfKMM6MHuT6nsDD3BMf9/kvjuErei175AQrlmxzLIsEP1qHmhm56bRLTZHAq9NlBvQ64T2pnKlocqF528G1xJnRCZcHAgQ==" />
    <add key="EnableHMACAuth" value="false" />
    <add key="DataConnectionString"
         value="BlobEndpoint=https://jymdev.blob.core.chinacloudapi.cn/;QueueEndpoint=https://jymdev.queue.core.chinacloudapi.cn/;TableEndpoint=https://jymdev.table.core.chinacloudapi.cn/;AccountName=jymdev;AccountKey=vtO5YY0USufbaw4BP8gBMIuMe2aPi0an4DkpxakWl579cfTxeCT7mvv7M8oZZkdg8VTxM525WHjPZ6gkifvmiQ==" />
    <add key="ServiceBusConnectionString"
         value="Endpoint=sb://jym-dev.servicebus.chinacloudapi.cn/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=d9emGUQNz5b114V/Y7HVN+n/Z+152e9jNq9C6InyDJ4=" />
    <add key="JYMDBContextConnectionString"
         value="Server=tcp:l564pygdev.database.chinacloudapi.cn,1433;Database=jym-dev;User ID=db-user-front@l564pygdev;Password=0SmDXp8i7MRfg29HJk1N;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="StorageProviderConnectionString"
         value="Server=tcp:l564pygdev.database.chinacloudapi.cn,1433;Database=jym-dev-grains-{0};User ID=db-user-front@l564pygdev;Password=0SmDXp8i7MRfg29HJk1N;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add key="YilianPaymentGatewayHost" value="http://payment.test.ad.jinyinmao.com.cn:10000/" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms name="JYM" slidingExpiration="false" timeout="105120000" cookieless="UseCookies"
             domain="" />
    </authentication>
  </system.web>
</configuration>