@{ 
    Layout = "~/_layout/base/Main.cshtml";
    Page.Title = "银企众盈";
}
@section PageScript {
    <script src="/static/js/home/amp.js"></script>
    <script>
    Zepto(function(){
        zim.page.list.init('amp');
    });
    </script>
}
@RenderPage("~/_layout/base/header.cshtml", new{ NavMenu = "amp" })
<div id="jqm-product-list" class="ui-content">
    <ul id="jqm-list-products" class="ui-listview"><!--tpl--></ul>
</div>
<!-- tpl -->
<script type="text/tpl" id="jqm-tpl-products">
@RenderPage("~/tpl/amp/list.cshtml")
</script>