<div class="bank-index @Page.name">
    <div class="bank-list-container ui-wrapper">
        <div class="bank-intro clearfix">
            <a class="back-index" title="@Page.intro" href="/bank/@Page.name" />@Page.intro</a>
        </div>
    </div>
</div>