@{
    Layout = "~/_layout/agreement/_SiteMain.cshtml";
    Page.Title = "了解更多";
}
<div style="padding:10px 20px;">
    <h2>金银猫快捷支付简介</h2>
    <p>金银猫快捷支付是跟银联合作的代扣支付通道。用户只需认证绑定银联借记卡在自己的账户上，就能够方便通过手机购买金银猫的产品。</p>
    <h2>开通流程：</h2>
    <h3>第一步：设定支付密码。</h3>
    <p>第一次开通快捷支付时需要设定支付密码，设定成功之后，无需再次设定。</p>
    <h3>第二步：输入身份信息以及银行卡信息：</h3>
    <p>用户所输入的身份信息应当与银行卡预留信息一致，否则可能会导致绑定失败。<br>为保证一人一号，已实名认证的用户不能修改身份信息。</p>
    <h3>第三步：等待银行认证：</h3>
    <p>身份信息与银行卡信息发出审核后，将会接到由广州银联（020-96585）的来电。为确认您是卡主，来电将要求您输入该银行卡的密码。如果十分钟之内未收到来电或者拒接，则该次认证失败。</p>
    <h3>第四步：绑定完成：</h3>
    <p>我们会以短信通知绑定结果，或者您可至“我的金银猫 > 我的银行卡”界面查看已绑定卡片。您还可以在该界面绑定更多卡片。已绑定的卡片在购买时可以方便快捷地使用！</p>
    <h2>注意事项：</h2>
    <ol>
        <li>由于遵循同卡进出的原则，所以在本息未归还以前，请持卡人不要随意注销相关卡片，以免造成还款失败。</li>
        <li>请牢记自己的支付密码并不要随意告诉他人。</li>
        <li>每一次认证新的银行卡，都会试扣一笔1~5元的费用，此笔费用仅仅是为了验证账户是否有效。在认证结束之后会退还至原账户。同时也请保证认证银行卡中有5元以上的资费。</li>
    </ol>
    <h2>风险控制：</h2>
    <h3>第一层.支付密码：</h3>
    <p>用户需要为快捷支付设定支付密码，在每一次需要付款的时候都会要求用户确认。</p>
    <h3>第二层.款项同卡进出原则：</h3>
    <p>当您购买的产品结息时，金银猫只会将本息归还到您购买所使用的银行账户中。这样，即使发生有人冒名购买，只要您保护好您的银行卡和密码，他人也无法将本息提出。</p>
    <h3>第三层.款项额度监控：</h3>
    <p>金银猫会实时监控每一笔打款请求，一旦发现数额可疑，会立即中止打款并人工介入调查。防微杜渐。</p>
</div>