@{ 
    Layout = "~/_layout/base/Main.cshtml";
    Page.Title = "订单抽奖“赚起来” - 金银猫11.18周年庆，发财季震撼登陆";
}
<style>
.topic-page img{
    width:100%;
}
</style>
@RenderPage("~/_layout/base/header.cshtml", new{ NavMenu = "1118" })
<div class="ui-content topic-page">
    <img src="/page/topic/1118/list/b1.png" alt="" />
    <img src="/page/topic/1118/list/b2.png" alt="" />
</div>