<div class="ticket-about-wrap ui-wrap">
    <div class="ticket-about-inner">
        <div class="ticket-blank">
            <div class="ticket-cat-flag"><img src="/static/images/base/list-bname.png" alt=""/></div>
            <div class="ticket-company">
                <p>银行承兑汇票质押投融资业务平台</p>
                <p>兴业票客服电话：4008-556-333</p>
            </div>
        </div>
        <div class="ticket-cat">
            <div class="ticket-cat-flag"><img src="/static/images/base/list-jym.png" alt=""/></div>
            <div class="ticket-company">
                <p>兴业票平台合作方：上海金银猫金融服务有限公司</p>
                <p>www.jinyinmao.com.cn</p>
            </div>
        </div>
    </div>
</div>
<!--/about-->
@RenderPage("~/_layout/base/_footer_bottom.cshtml")