<div class="bottom">
    <div class="botm-cont">
        <p>客服热线：95561　贵宾专线：4008895561　境外客服热线：86-21-38769999　境外信用卡白金专线：86-21-38429696</p>
        <p class="company" id="company">
            兴业银行版权所有　闽ICP备05017231号　地址：福建省福州市湖东路154号<a href="http://weibo.com/cib601166" class="sina" target="_blank"><img src="/static/images/base/ico-sina.png" title="新浪微博"/></a>
            <a href="http://www.cib.com.cn/cn/About_IB/Press_Release/20130821.html" target="_blank" class="tx-wei"><img src="/static/images/base/ico-tx.png" title="微信"/></a>
            <span class="ercode" style="display: none;"><img src="/static/images/base/ercode.png" /></span>
            @{
                var OnlineHost1 = "piao.cib.com.cn";
                var ReqHost = HttpContext.Current.Request.Url.Host.ToString();
                if (OnlineHost1 == ReqHost)
                {
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F022c23d055c5de2dd49bf5379f82f956' type='text/javascript'%3E%3C/script%3E"));
</script>
                }
            }
        </p>
    </div>
</div>
