<div class="ui-topbar">
    <div class="ui-topbar-inner ui-wrap clearfix">
        <div class="ui-logo-wrap"><a class="ui-logo" title="兴业银行 - 直销银行" href="/"><img src="/static/images/base/home-logo.png" width="302" height="32" alt="兴业银行 - 直销银行"/></a></div>
        <div class="ui-nav-outer">
            <div class="ui-nav-wrap">
                <ul class="ui-nav-list clearfix">
                    <li><a href="http://directbank.cib.com.cn/hall/show/home/home.do" title="">首页</a></li>
                    <li><a href="http://directbank.cib.com.cn/hall/show/zyb/zyblist.do" title="">智盈宝</a></li>
                    <li><a href="http://directbank.cib.com.cn/hall/show/dep/deposlist.do" title="">定期</a></li>
                    <li><a href="http://directbank.cib.com.cn/hall/show/fin/finlist.do" title="">理财</a></li>
                    <li><a href="http://directbank.cib.com.cn/hall/show/fund/fundlist.do" title="">基金</a></li>
                    <li><a href="http://directbank.cib.com.cn/hall/show/xcbshow/xcbList.do" title="">兴业宝</a></li>
                    <li><a class="on" href="/" title="">兴业票</a></li>
                    <li><a href="http://directbank.cib.com.cn/hall/show/fund/fundlist!toXyh.do" title="">兴业红</a></li>
                </ul>
            </div>
            <div class="ui-service" style="display:none"><button class="online-serive">在线客服</button></div>
        </div>
    </div>
</div>