@{
    Layout = "~/_layout/deal/_SiteMain.cshtml";
    PageData["Title"] = "兴业银行 - 直销银行";
    dynamic userInfo = Request.GetData("/UserInfo");
    CatHelper.SignInCheck(userInfo);
}
<div class="reset-outer deal-wrap-only">
    <div class="reset-inner">
        <div class="reset-title">
            <h1>“易联认证快付”服务开通协议</h1>
        </div>
        <div class="reset-main">
            <span style="font-size:14px;"><span style="font-family:宋体;">&nbsp; &nbsp; 本协议由 “易联认证快付”的第三方支付服务商——易联支付有限公司与希望并同意使用“易联认证快付”向“易联认证快付”加盟商户平台（以下简称“兴业票平台”）注册之借款客户（以下简称“融资企业”）支付交易款项的用户（以下简称“您”）共同订立。<br>
            <strong>一、关于“易联认证快付”</strong><br>
            易联支付有限公司（以下简称“易联支付”），是经中国人民银行许可成立并接受中国人民银行监管的支付服务机构。您申请“易联认证快付”时，将银行卡（含储蓄卡及信用卡）与其在兴业票平台的注册账户关联。在首次使用“易联认证快付”时，系统平台即时呼叫您手机进行使用安全验证。通过“易联认证快付”使用安全验证后，开通“易联认证快付”。您下次再购物/充值，确认订单并选择“易联认证快付”支付订单金额的, 无需输入银行卡信息（卡号或密码、校验码），只需确认提交您在兴业票平台注册帐户的验认信息和支付信息，即可轻松安全地完成订单金额的支付。<br>
            <strong>二、 声明与承诺 </strong><br>
            1、您确认，您已充分阅读、理解并接受本协议的全部内容，一旦您通过网络页面点击确认或以其他方式选择接受本协议，即表示您与易联支付已达成协议并同意接受本协议的全部约定内容。在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您不同意本协议的任意内容，请不要进行后续操作。<br>
            2、您确认，在您（包括您的代理人）同意接受本协议并申请开通相关业务功能时，易联支付有理由相信您及您的代理人是具有完全民事权利能力和民事行为能力，能够独立承担民事责任的自然人。不具备前述条件的，您应立即停止申请使用本服务。<br>
            <strong>三、“易联认证快付”使用安全验证</strong><br>
            1、在您接受本协议并首次使用“易联认证快付”时，“易联认证快付”将根据您上述提供的银行卡卡号、身份证号码，核实您所提供银行卡的真实性，并使用IVR语音系统呼叫您的手机。您需要按照IVR语音播报信息指示，输入相应银行卡信息（储蓄卡密码或信用卡校验码），经发卡银行验证无误并成功完成首次支付，方通过“易联认证快付”的使用安全验证。<br>
            2、<strong>自您通过“易联认证快付”使用安全验证时起，本协议正式生效。</strong>“易联认证快付”为您开通，您下次在购物将充分体验到“易联认证快付”的快捷与便利。<br>
            <strong>四、“易联认证快付”使用规则</strong><br>
            1、您同意自本协议生效日起，您在确认订单并选择“易联认证快付”的，您正确输入账户信息，即代表您授权发卡银行从指定银行卡账户支付订单金额给融资企业。<br>
            2、您同意，<strong><u>“易联认证快付”仅为您提供交易款项的支付服务。您就融资企业在兴业票平台发布的融资需求（以下简称“融资项目”）发生的任何争议应由您与融资企业解决，“易联认证快付”及兴业票平台将不承担任何责任。</u></strong><br>
            3、为保障您的支付成功，在确认订单并选择“易联认证快付”时，您应保障指定银行卡余额或授信额度足以支付订单金额。<strong><u>因您指定银行卡余额或授信额度不足导致支付失败，致使您不能认购融资项目的，“易联认证快付”及兴业票平台将不承担任何责任。</u></strong><br>
            4、为保障您的银行卡交易安全，“易联认证快付”为您设定了每笔[&nbsp;&nbsp;&nbsp;&nbsp; <strong>元</strong>]的最高消费限额。超过上述最高消费限额的交易，“易联认证快付”将不能为您提供支付服务，您需要采取其它支付方式向商户支付交易款项。<strong><u>因超过最高消费限额，而您又未及时采取其它支付方式向融资企业支付交易款项，致使您不能认购融资项目的，“易联认证快付”及兴业票平台将不承担任何责任。</u></strong><br>
            5、您有义务妥善保管您的注册账户密码。为保障您的银行卡交易安全，在为您开通“易联认证快付”后，您每次使用“易联认证快付”成功支付订单金额后（不包括首次使用“易联认证快付”），“易联认证快付”会向您的手机发送成功支付交易短信息。如您对短信显示的支付事宜有任何疑问，可及时联系发卡银行及易联支付。<br>
            <strong>五、信息安全及隐私保护</strong><br>
            1、“易联认证快付”系统已通过国际PCI安全认证及中国银行卡检测中心认证，系统不留存您的银行卡密码及校验码信息，以确保信息安全。<br>
            2、“易联认证快付”严格执行中国人民银行及工业与信息化产业部的监管规定。您的身份证号、银行卡号、手机号、交易信息等将由系统存储，不作其他用途。因“易联认证快付”原因造成您个人隐私泄露的，“易联认证快付”同意承担相应法律责任。<br>
            <strong>六、协议变更</strong><br>
            <strong><u>易联支付有权以在网页界面公告或以“易联认证快付”IVR语音呼叫播放方式提前30天通知您后，对本协议内容做出变更（包括在未来可能就“易联认证快付”向您提供收费服务）。如您在该等变更生效后，继续使用“易联认证快付”，则视为您同意易联支付对本协议的变更。</u></strong><br>
            <strong>七、法律适用及争议解决</strong><br>
            1、本协议之订立、生效、解释、履行等均适用中华人民共和国法律。<br>
            2、因本协议而产生或与本协议相关的一切争议，不能协商解决的，双方同意将争议交由易联支付所在地有管辖权的法院受理并裁判。<br>
            &nbsp;</span></span>
        </div>
    </div>
</div>









