@charset 'utf-8';/* CSS Reset */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{line-height:1.5;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
abbr,acronym{border:0;font-variant:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt{font-size:100%;}
input,button,textarea,select{*font-size:100%;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
sup,sub{font-size:100%;vertical-align:baseline;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020";content:none;}
a{cursor:pointer;}
a:hover{text-decoration:underline;}
/* CSS Global */
body{font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,Helvetica;font-size:12px;background-color:#f3f4f8;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.ui-loading{position:fixed;_position:absolute;left:50%;top:50%;z-index:99999;display:none;width:15em;height:auto;padding:1.25em;margin-left:-7.75em;margin-top:-5.735em;opacity:.88;filter:Alpha(Opacity=88);background-color:#2a2a2a;border-radius:.3125em;-moz-border-radius:.3125em;-webkit-border-radius:.3125em;}
.ui-loading .ui-loading-icon{display:block;width:2.75em;height:2.75em;padding:.0625em;margin:0 auto .625em;opacity:.75;filter:Alpha(Opacity=75);background-color:#000;border-radius:2.25em;-moz-border-radius:2.25em;-webkit-border-radius:2.25em;background-image:url(../images/ajax-loader.gif);background-size:2.875em 2.875em;}
.ui-loading h3{color:#FFF;font-size:1.2em;text-align:center;padding:0;margin:0;}
.ui-header{background-color:#FFF;border-style:solid;border-color:#e5e5e5;border-width:0 0 1px;}
.ui-main{position:relative;z-index:99;padding:10px 0;}
.ui-footer{font-size:14px;color:#CCC;background-color:#333;padding:20px 0;}
.ui-footer a{color:#CCC;}
.ui-wrapper{position:relative;margin-left:auto;margin-right:auto;width:960px;}
.ui-left{float:left;}
.ui-right{float:right;}
.ui-logo{display:block;width:296px;height:47px;margin:29px 0 20px;text-indent:-999px;overflow:hidden;background-image:url(../images/user/logo.png);background-repeat:no-repeat;}
.ui-nav{padding:52px 220px 28px 0;margin-bottom:-2px;position:relative;overflow:hidden;}
.ui-nav li{float:left;height:18px;line-height:18px;font-size:16px;color:#333;position:relative;margin-left:-1px;border-style:solid;border-color:#ccc;border-width:0 0 0 1px;}
.ui-nav li a{float:left;display:block;height:42px;padding:0 15px;color:#333;position:relative;margin-bottom:-36px;border-style:solid;border-color:#DB5629;border-width:0;}
.ui-nav li a.current,.ui-nav li a:hover{color:#DB5629;border-width:0 0 4px;text-decoration:none;}
.ui-nav-passport{position:absolute;right:0;top:40px;}
.ui-nav-passport a{float:left;width:96px;height:36px;line-height:36px;text-align:center;font-size:16px;color:#333;margin-left:10px;border-style:solid;border-color:#fe6a09;border-width:1px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.ui-nav-passport a:hover{text-decoration:none;border-color:#e95d01;}
.ui-nav-passport a.ui-nav-login{background-color:#e95d01;color:#FFF;}
.ui-nav-passport a.ui-nav-login:hover{background-color:#fe6a09;}
.ui-nav-passport a.ui-nav-register{border-color:#CCC;}
.ui-nav-passport a.ui-nav-register:hover{background-color:#fe6a09;color:#fff;border-color:#e95d01;}
.ui-text,.ui-btn-simple{height:20px;line-height:20px;padding:8px 0;*padding:6px 0;text-indent:2px;border:0;padding-left:.5em;padding-right:.5em;border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.ui-btn-simple{height:36px;line-height:36px;padding:0;}
.ui-text{min-width:160px;_width:160px;background-image:url(../images/user/input.jpg);background-repeat:repeat-x;box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);border-style:solid\9;border-color:#e4e4e4 \9;border-left-width:1px\9;border-right-width:1px\9;}
.ui-btn-simple{text-align:center;cursor:pointer;font-size:14px;color:#FFF;background-color:#cf9438;}
.ui-btn,.ui-btn1{min-width:160px;*overflow:visible;height:40px;line-height:40px;text-align:center;cursor:pointer;border-width:0;font-size:16px;color:#FFF;padding-left:2em;padding-right:2em;}
.ui-btn{background-color:#DB5629;}
.ui-btn1{background-color:#D1CFCF;}
.ui-btn:focus,.ui-btn1:focus,.ui-btn-simple:focus{box-shadow:inset 0 1px 5px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 1px 5px rgba(0,0,0,0.2);-webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.2);}
.ui-tip-msg{position:relative;margin:0 10px;display:inline-block;*display:inline;*zoom:1;padding:.6em .8em;color:#DD5629;border-style:solid;border-width:1px;border-color:#DD5629;background-color:#F8F8FA;}
.ui-tip-msg .ui-tip-top,.ui-tip-msg .ui-tip-right,.ui-tip-msg .ui-tip-bottom,.ui-tip-msg .ui-tip-left{position:absolute;display:block;background-image:url(../images/user/msg-tip.png);background-repeat:no-repeat;}
.ui-tip-msg .ui-tip-top,.ui-tip-msg .ui-tip-bottom{width:12px;height:10px;left:50%;margin-left:-6px;}
.ui-tip-msg .ui-tip-top{top:-10px;background-position:50% 0;}
.ui-tip-msg .ui-tip-bottom{bottom:-10px;background-position:50% 100%;}
.ui-tip-msg .ui-tip-left,.ui-tip-msg .ui-tip-right{width:10px;height:12px;top:50%;margin-top:-6px;}
.ui-tip-msg .ui-tip-right{right:-10px;background-position:100% 50%;}
.ui-tip-msg .ui-tip-left{left:-10px;background-position:0 50%;}
.ui-popup{position:absolute;z-index:999;top:11px;left:50%;float:left;display:block;border-style:solid;border-width:1px;border-color:#CCC;background-color:#FFF;}
.ui-popup .ui-popup-left,.ui-popup .ui-popup-top,.ui-popup .ui-popup-right,.ui-popup .ui-popup-bottom{position:absolute;display:block;background-image:url(../images/user/pop-white-tip.png);background-repeat:no-repeat;}
.ui-popup .ui-popup-top,.ui-popup .ui-popup-bottom{width:21px;height:11px;left:50%;margin-left:-10px;}
.ui-popup .ui-popup-top{top:-11px;background-position:50% 0;}
.ui-popup .ui-popup-bottom{bottom:-11px;background-position:50% 100%;}
.ui-popup .ui-popup-left,.ui-popup .ui-popup-right{width:11px;height:21px;top:50%;margin-top:-10px;}
.ui-popup .ui-popup-right{right:-11px;background-position:100% 50%;}
.ui-popup .ui-popup-left{left:-11px;background-position:0 50%;}
.ui-popup .ui-popup-img{padding:15px;}
.ui-popup .ui-popup-img img{border:0;}
.sns-weibo,.sns-pengyou{display:inline-block;*display:inline;*zoom:1;width:38px;height:37px;background-image:url(../images/user/icon-sns.png);background-repeat:no-repeat;}
.sns-weibo{background-position:0 0;}
.sns-pengyou{background-position:0 -38px;}
/* CSS Dialog */
.ui-mask{position:fixed;_position:absolute;z-index:99990;left:0;top:0;right:0;bottom:0;width:100%;height:100%;background-color:#333;filter:alpha(opacity=30);opacity:.3;}
.ui-dialog{position:fixed;_position:absolute;left:50%;top:50%;z-index:99999;margin-left:-230px;margin-top:-140px;min-width:460px;*width:460px;min-height:280px;*height:280px;border:1px solid #CCC;background-color:#FFF;}
.ui-dlg-header{height:50px;line-height:50px;overflow:hidden;background-color:#F3F3F3;border-radius:10px 10px 0 0;-o-border-radius:10px 10px 0 0;-ms-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;}
.ui-dlg-close{float:right;width:50px;height:50px;text-align:center;font-size:50px;line-height:.9;color:#CCC;}
.ui-dlg-close:hover{text-decoration:none;}
.ui-dlg-msg{min-height:90px;_height:80px;padding:30px 0;font-size:18px;text-align:center;}
.ui-dlg-btn{padding:1.5em 0;text-align:center;}
.ui-dlg-btn .ui-btn,.ui-dlg-btn .ui-btn1{width:160px;margin:0 8px;}
.ui-message{min-height:200px;_height:200px;}
.ui-select,.ui-select span{display:inline-block;_display:inline;_zoom:1;margin-bottom:-6px\0;}
.ui-select{height:26px;line-height:26px;padding:5px 4px 2px 4px;border:1px solid #D1D1D1;background-position:left -59px;background-color:#FFF;*margin-bottom:-10px;*padding-bottom:0;padding:3px 4px\0;}
.ui-select span{overflow:hidden;}
.ui-select select{margin:-2px;border:2px solid #FFF;border-radius:0;background:transparent;}
.ui-asterisk{font-size:14px;color:#db5629;padding-right:5px;}
/* CSS Ico */
.ui-ico-error{padding-left:20px;background-image:url(../images/user/icon-error.png);background-position:0 2px;background-repeat:no-repeat;}
.ui-ico-telphone{display:inline-block;overflow:hidden;*display:inline;*zoom:1;width:24px;height:24px;background-image:url(../images/user/icon-telphone.png);background-repeat:no-repeat;}
.ui-ico-payment,.ui-ico-rmb,.ui-ico-amp,.ui-ico-cpl,.ui-ico-card,.ui-ico-lock,.ui-ico-bank{display:inline-block;overflow:hidden;*display:inline;*zoom:1;background-image:url(../images/user/icon-slider.png);background-repeat:no-repeat;}
.ui-ico-payment{width:21px;height:15px;background-position:-22px 0;}
.ui-ico-rmb{width:19px;height:19px;background-position:0 -16px;}
.ui-ico-amp{width:18px;height:16px;background-position:0 -35px;}
.ui-ico-cpl{width:20px;height:18px;background-position:0 -75px;}
.ui-ico-bank{width:20px;height:14px;background-position:0 -111px;}
.ui-ico-card{width:18px;height:14px;background-position:0 -95px;}
.ui-ico-lock{width:15px;height:19px;background-position:0 -54px;}
.ui-highlight-warning{padding-left:36px;background-image:url(../images/user/icon-warning.png);background-repeat:no-repeat;background-position:0 6px;}
.ui-pager{margin:10px auto;padding:8px 0;text-align:center;}
.ui-pager a{display:inline-block;*display:inline;*zoom:1;padding:0 9px;height:26px;line-height:26px;margin:0 4px;text-align:center;border:1px solid #dedede;color:#db5629;background-color:#FFF;}
.ui-pager a.current{color:#FFF;background-color:#db5629;font-weight:bold;}
.ui-pager .jumpPager{width:30px;text-align:center;}
/* CSS Box */
.ui-btn,.ui-btn1,.ui-tip-msg{border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.ctt-table-simple,.ctt-grid1,.ctt-grid2,.ui-dialog,.rds10{border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.ml10{margin-left:10px;}
.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.mh10{margin-left:10px;margin-right:10px;}
.mv10{margin-top:10px;margin-bottom:10px;}
.m10{margin:10px;}
.ml20{margin-left:20px;}
.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.mh20{margin-left:20px;margin-right:20px;}
.mv20{margin-top:20px;margin-bottom:20px;}
.m20{margin:20px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.ph10{padding-left:10px;padding-right:10px;}
.pv10{padding-top:10px;padding-bottom:10px;}
.p10{padding:10px;}
.pl20{padding-left:20px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.ph20{padding-left:20px;padding-right:20px;}
.pv20{padding-top:20px;padding-bottom:20px;}
.p20{padding:20px;}
.ph60{padding-left:60px;padding-right:60px;}
/* CSS header & footer */
.ui-navTop{position:relative;z-index:999;height:25px;line-height:20px;padding-top:5px;font-size:14px;background-color:#333;color:#FFF;border-bottom:1px solid #dfdfdf;}
.ui-navTop a{color:#FFF;}
.ui-navTop .ui-left span{padding-right:20px;}
.ui-navTop .ui-left span strong{padding-left:10px;}
.ui-navTop .top-marquee{position:relative;width:630px;height:20px;white-space:nowrap;overflow:hidden;}
#top-marquee{position:absolute;left:0;top:0;}
.nav-tel,.nav-weibo,.nav-weixin,.nav-app,.nav-kefu{display:inline-block;*display:inline;*zoom:1;background-image:url(../images/user/icon-base.png);background-repeat:no-repeat;}
.nav-tel{width:16px;height:16px;margin-bottom:-2px;margin-right:10px;background-position:0 -177px;}
.nav-weibo,.nav-weixin{width:25px;height:20px;margin-bottom:-5px;margin-left:15px;}
.nav-weibo small,.nav-weixin small{display:none;}
.nav-weibo{background-position:0 -116px;}
.nav-weibo:hover{background-position:-26px -116px;}
.nav-weixin{background-position:0 -137px;position:relative;}
.nav-weixin:hover{background-position:-26px -137px;}
.nav-weixin .ui-popup{left:-62px;top:31px;visibility:hidden;}
.nav-weixin:hover .ui-popup{visibility:visible;}
.nav-app{width:10px;height:19px;margin-bottom:-4px;margin-right:5px;background-position:0 -157px;}
.app-mobile{position:relative;}
.app-mobile:hover{color:#e95d01;border:0;}
.app-mobile:hover .nav-app{background-position:-11px -157px;}
.app-mobile .ui-popup{left:-10px;top:30px;visibility:hidden;}
.app-mobile:hover .ui-popup{visibility:visible;}
.nav-kefu{width:18px;height:16px;margin-left:5px;margin-bottom:-3px;background-position:0 -194px;}
.foot-links{padding-bottom:15px;border-bottom:1px solid #666;}
.foot-links h6{float:left;width:80px;padding-left:10px;}
.foot-links ul{float:left;width:870px;}
.foot-links ul li{float:left;padding-left:20px;}
.foot-about{position:relative;padding:15px 0;border-bottom:1px solid #666;}
.foot-about .about-link{padding-right:240px;padding-left:10px;}
.foot-about .about-link li{float:left;padding-right:20px;}
.foot-about .about-us{padding:10px 10px 0;}
.foot-about .about-us span{float:left;line-height:57px;}
.foot-about .about-us .nav-qqun{padding-left:20px;}
.foot-about .about-us a{float:left;width:56px;height:57px;margin-left:20px;}
.foot-about .about-us a.nav-weibo{background-position:0 0;}
.foot-about .about-us a.nav-weibo:hover{background-position:-57px 0;}
.foot-about .about-us a.nav-weixin{background-position:0 -58px;}
.foot-about .about-us a.nav-weixin:hover{background-position:-57px -58px;}
.foot-about .about-us a.nav-weixin .ui-popup{left:67px;top:-70px;}
.foot-about .about-kefu{position:absolute;right:10px;top:15px;text-align:right;}
.foot-about .about-kefu em,.foot-about .about-kefu strong{display:block;}
.foot-about .about-kefu strong{font-size:30px;font-weight:normal;}
.foot-copyright{text-align:center;padding:10px 0;}
.foot-safelink{text-align:center;}
/* CSS silder */
.silder .account,.silder .nav-menu,.content{border:1px solid #CCC;background-color:#FFF;}
.silder .account,.silder .nav-menu{margin-bottom:10px;}
.silder{float:left;width:190px;padding-right:10px;}
.content{float:right;width:700px;min-height:500px;_height:500px;padding:0 29px 20px;}
.silder .account{position:relative;z-index:9;padding:30px 0;text-align:center;}
.silder .account .head-image img{width:70px;height:70px;}
.silder .account .user-mobile{padding-bottom:10px;font-size:14px;}
.payment-status{color:#e7e7e7;}
.payment-status .ui-ico-payment{margin-bottom:-4px;}
.payment-status a{color:#18b160;}
.payment-disabled a{color:#0990e6;}
.payment-disabled .ui-ico-payment{background-position:0 0;}
.silder .nav-menu{position:relative;font-size:14px; overflow:hidden; zoom:1;}
.silder .nav-menu h3,.silder .nav-menu h4{font-weight:normal;}
.silder .nav-menu h4{display:block;position:relative;padding-left:10px;height:26px;line-height:26px;color:#898989;font-size:12px;}
.silder .nav-menu a{display:block;height:43px;line-height:43px;color:#333;position:relative;padding-left:60px;}
.silder .nav-menu a:hover{text-decoration:none;}
.silder .nav-menu h4{margin-top:-1px;border-style:solid;border-color:#E4E4E4;border-width:1px 0 0;}
.silder .nav-menu a:hover,.silder .nav-menu a.selected{background-color:#DB5629;color:#FFF;}
.silder .nav-menu a:hover .ui-ico-rmb,.silder .nav-menu a.selected .ui-ico-rmb{background-position:-22px -16px;}
.silder .nav-menu a:hover .ui-ico-amp,.silder .nav-menu a.selected .ui-ico-amp{background-position:-22px -35px;}
.silder .nav-menu a:hover .ui-ico-cpl,.silder .nav-menu a.selected .ui-ico-cpl{background-position:-22px -75px;}
.silder .nav-menu a:hover .ui-ico-bank,.silder .nav-menu a.selected .ui-ico-bank{background-position:-22px -111px;}
.silder .nav-menu a:hover .ui-ico-card,.silder .nav-menu a.selected .ui-ico-card{background-position:-22px -95px;}
.silder .nav-menu a:hover .ui-ico-lock,.silder .nav-menu a.selected .ui-ico-lock{background-position:-22px -54px;}
.silder .nav-menu h4 a{padding-left:0;}
.silder .nav-menu h3 b,.silder .nav-menu a b{position:absolute;left:30px;top:15px;}
.silder .nav-menu a i{position:absolute;right:20px;top:0;font-style:normal;display:none}
/* Old silder */
.old-ico-payment:hover,.old-ico-amp:hover{text-decoration:none;}
.old-ico-payment,.old-ico-amp{display:inline-block;*display:inline;*zoom:1;position:relative;width:36px;height:36px;margin-bottom:-14px;background-image:url(../images/user/old-icon-amp.png);background-repeat:no-repeat;}
/*.old-ico-payment{background-position:0 0;}*/
.old-ico-payment{background-position:-37px 0;}
.old-ico-payment:hover{background-position:0 0;*border:0;}
.old-ico-amp{background-position:-37px -37px;}
.old-ico-amp:hover{background-position:0 -37px;}
.old-ico-payment .ui-tip-msg,.old-ico-amp .ui-tip-msg{visibility:hidden;position:absolute;z-index:9;top:48px;width:140px;left:50%;margin-left:-80px;}
.old-ico-payment:hover .ui-tip-msg,.old-ico-amp:hover .ui-tip-msg{visibility:visible;}
.payment-disabled .old-ico-payment{background-position:-37px 0;}
.payment-disabled .old-ico-payment:hover{background-position:0 0;}
.payment-disabled .old-ico-payment:hover .ui-tip-msg{visibility:visible;}
/* CSS main */
.clearfix:after,.ui-wrapper:after,.ctt-head:after,.ctt-rows:after,.ctt-tabs:after,.ctt-grid2:after,.ui-select:after{content:"\200B";display:block;height:0;clear:both;}
.clearfix,.ui-wrapper,.ctt-head,.ctt-rows,.ctt-tabs,.ctt-grid2,.ui-select{*zoom:1;}
.ctt-block{margin:30px auto;}
.ctt-block-foot{background-image:url(../images/user/yilian.jpg);background-repeat:no-repeat;background-position:50% 0;padding:70px 0 20px;margin:30px 0;font-size:14px;color:#333;text-align:center;}
.ctt-block-foot a{color:#0990e6;}
.ctt-rows{margin-top:30px;margin-bottom:30px;}
.ctt-rows-label{font-size:16px;padding:10px 0;}
.ctt-fixed-z{ z-index:55;}
.ctt-head{position:relative;color:#475058;margin-bottom:20px;font-size:18px;font-weight:normal;border-style:solid;border-color:#e1e1e1;border-width:0 0 1px;}
.ctt-head span{position:relative;color:#475058;margin-bottom:-2px;float:left;padding-left:5px;padding-right:20px;border-style:solid;border-color:#CCC;border-width:0 0 4px;}
.ctt-back{float:right;color:#db5629;font-size:12px;margin-top:5px;margin-right:5px;}
.ctt-tabs{position:relative;display:block;border-bottom:1px solid #e4e4e4;}
.ctt-tabs li{position:relative;margin-bottom:-1px;z-index:9;float:left;height:20px;padding:8px 0;font-size:16px;color:#db5629;}
.ctt-tabs li a{float:left;height:20px;line-height:20px;color:#333;padding:0 30px;border-style:solid;border-color:#e7e7e7;border-width:0 0 0 1px;}
.ctt-tabs li.first a{border-width:0;}
.ctt-tabs li.current{height:36px;padding:0;margin-right:-1px;border-style:solid;border-color:#e7e7e7;border-width:0 1px;background-color:#FFF;}
.ctt-tabs li.current a{font-size:16px;font-weight:bold;color:#db5629;padding-top:4px;border-width:4px 0 0;border-color:#db5629 #e7e7e7 #FFF;}
.ctt-table-simple{padding:10px 0;border-style:solid;border-color:#CCC;border-width:1px;}
.ctt-table-simple table{width:100%;}
.ctt-table-simple a{color:#0990e6;}
.ctt-table-simple tbody td,.ctt-table-simple tbody th{padding-top:10px;}
.ctt-table-simple thead td,.ctt-table-simple thead th{padding-bottom:10px;border-bottom:1px solid #e4e4e4;}
.ctt-table{width:100%;}
.ctt-table a{color:#0990e6;}
.ctt-table td,.ctt-table th{padding:10px .5em;border-bottom:1px solid #e4e4e4;}
.ctt-grid1,.ctt-grid2{position:relative;overflow:hidden;margin:20px auto; z-index:4;font-size:14px;border-style:solid;border-color:#CCC;border-width:1px;}
.ctt-grid1{border-width:0 1px 1px;}
.ctt-grid1 li{display:block;*zoom:1;padding:10px 2%;overflow:hidden;border-style:solid;border-color:#CCC;border-width:1px 0 0;}
.ctt-grid1 li a,.ctt-span-detail h3 a{color:#0990e6;}
.ctt-grid2 .ctt-grid-a,.ctt-grid2 .ctt-grid-b{float:left;width:46%;padding:10px 2%;overflow:hidden;position:relative;margin-top:-1px;margin-left:-1px;border-style:solid;border-color:#CCC;border-width:1px 0 0 1px;}
.ctt-grid2 .ctt-grid-b{text-align:right;}
.ctt-help-kefu{text-align:right;margin:10px 0;font-size:12px;color:#333;}
.ctt-help-kefu .ui-ico-telphone{margin-bottom:-8px;margin-right:5px;}
/* Page index */
.ctt-summary{overflow:hidden;border-style:solid;border-color:#CCC;border-width:1px;}
.ctt-summary ul{position:relative;overflow:hidden;display:block;padding:20px 0;color:#FFF;font-size:14px;background-color:#DB5629;}
.ctt-summary ul li{position:relative;margin-left:-1px;min-height:90px;_height:90px;float:left;padding-left:40px;overflow:hidden;white-space:nowrap;border-style:solid;border-color:#FFF;border-width:0 0 0 1px;}
.ctt-summary ul li.m1{width:190px;}
.ctt-summary ul li.m2{width:200px;}
.ctt-summary ul li.m3{width:180px;}
.ctt-summary ul li.m1,.ctt-summary ul li.m2,.ctt-summary ul li.m3{-webkit-font-smoothing:antialiased}
.ctt-summary ul li span{display:block;}
.ctt-summary ul li strong,.ctt-summary ul li em{line-height:60px;font-weight:bold;}
.ctt-summary ul li em{font-size:28px;}
.ctt-summary ul li strong{font-size:28px;}
.ctt-summary ul li samp{font-size:12px;margin-left:5px;}
.ctt-user-interest .ctt-table-simple{padding:0 0 15px;overflow:hidden;}
.ctt-user-interest .ctt-table-simple thead th,.ctt-user-interest .ctt-table-simple thead td{padding-top:15px;background-color:#f9f9f9;}
.ctt-user-interest .ctt-table-simple tbody th,.ctt-user-interest .ctt-table-simple tbody td{padding-top:15px;}
.ctt-user-interest .qa-help{margin-left:5px;margin-top:8px;}
.ctt-user-interest .qa-help .ui-tip-msg{left:15px;top:-10px;width:170px;}
.amp-speed{position:relative;height:70px;padding:20px 60px;}
.amp-speed p{font-size:14px;line-height:36px;margin-right:180px;overflow:hidden;}
.amp-speed p em{font-size:24px;color:#cf9438;}
.amp-speed .share-weibo,.amp-speed .share-pengyou{position:absolute;top:25px;text-align:center;color:#333;}
.amp-speed .share-weibo:hover,.amp-speed .share-pengyou:hover{color:#db5629;}
.amp-speed .share-weibo{right:60px;}
.amp-speed .share-pengyou{right:60px;}
.amp-speed .share-weibo span,.amp-speed .share-pengyou span{display:block;}
.null-product{text-align:center;height:120px;line-height:120px;}
/* Page settings */
.page-settings .ctt-rows{line-height:24px;}
.page-settings .ctt-rows h5{float:left;width:100px;padding-top:10px;font-size:16px;font-weight:normal;}
.page-settings .ctt-rows p{float:left;width:400px;word-wrap:break-word;word-break:break-all;background-color:#FCF3EA;padding:10px 15px;color:#6a3906;}
.page-settings .ctt-rows a{float:right;color:#0990e6;margin-top:10px;}
/* Page reset-password */
.page-reset-password .ctt-rows label{font-size:16px;}
.page-reset-password .ctt-rows .pwd-vaildCode,.page-reset-password .ctt-rows .btn-vaildCode,.page-reset-password .ctt-rows .msg-vaildCode{float:left;margin-right:10px;}
.page-reset-password .ctt-rows .desc-password,.page-reset-password .ctt-rows .desc-success{line-height:22px;padding:15px;background-color:#FCF3EA;color:#75522f;font-size:14px;}
.page-reset-password .ctt-rows .desc-success{background-color:#EEFCF5;color:#18b160;}
.page-reset-password .ctt-rows .pwd-input{width:200px;}
.page-reset-password .ctt-rows .card-input{width:250px;}
/* Page order-detail */
.page-amp-list .ctt-table em,.page-cpl-list .ctt-table em{color:#19B061;}
 .ctt-table i{font-style:normal;color:#e95d01;}
.ctt-ico-success,.ctt-ico-fail,.ctt-ico-deviant,.ctt-timeline-status,.ctt-span-detail-p{background-image:url(../images/user/amp-timeline.png);background-repeat:no-repeat;}
.ctt-timeline-status{position:relative;display:block;width:576px;height:60px;margin:0 auto 80px;background-position:0 0;}
.ctt-timeline-s1{background-position:0 -61px;}
.ctt-timeline-s2{background-position:0 -122px;}
.ctt-timeline-s3{background-image:url(../images/user/amp-timeline-1.png);}
.ctt-timeline-status li{position:absolute;top:60px;font-size:14px;color:#333;display:block;width:144px;padding:10px 0;text-align:center;}
.ctt-span-detail-p{position:absolute;left:50%;margin-left:-15px;bottom:-15px;display:none;width:29px;height:15px;background-position:right -183px;}
.ctt-timeline-status li strong,.ctt-timeline-status li em,.ctt-timeline-status li label{display:block;font-size:18px;}
.ctt-timeline-status li strong{color:#33cc99;font-weight:normal;}
.ctt-timeline-status li em{color:#d6d6d6;}
.ctt-timeline-status li label{color:#d6d6d6;}
.ctt-timeline-status li.m1{left:-50px;}
.ctt-timeline-status li.m2{left:50%;margin-left:-75px;}
.ctt-timeline-status li.m3{right:-52px;}
.ctt-ico-success,.ctt-ico-fail,.ctt-ico-deviant{float:left;width:42px;height:42px;margin-right:15px;margin-top:3px;}
.ctt-order-status{position:relative;padding-bottom:30px;padding-left:10px;}
.ctt-order-status .ctt-span-detail-p{left:80px;bottom:0;}
.ctt-order-status .ctt-ico-success{background-position:0 -183px;}
.ctt-order-status .ctt-ico-fail{background-position:-43px -183px;}
.ctt-order-status .ctt-ico-deviant{background-position:-86px -183px;}
.ctt-order-status strong{font-size:18px;color:#d05227;}
.ctt-order-status em{font-size:14px;color:#333;}
.ctt-span-detail{font-size:14px;color:#333;background-color:#FEEFEA;zoom:1;}
.ctt-span-detail h3,.ctt-span-detail strong{font-weight:normal;}
.ctt-span-detail strong{display:block;padding-bottom:20px;}
.ctt-span-detail em{color:#9e6c1e;}
/* Page bankcards */
.page-bankcards .ctt-grid1{background-color:#F8F8FA;}
.page-bankcards .ctt-grid1 em{color:#9e6c1e;}
.page-bankcards a.payment-limit{position:relative;}
.page-bankcards a.payment-limit:hover{text-decoration:none;border:0;}
.page-bankcards a.payment-limit:hover .bank-limit{width:350px;visibility:visible;}
.page-bankcards a.payment-limit .bank-limit{position:absolute;z-index:99;right:0;top:20px;display:block;width:0px;overflow:hidden;visibility:hidden;background-color:#FFF;}
.page-bankcards a.payment-limit .bank-limit table{width:100%;color:#353535;border-style:solid;border-color:#CCC;border-width:0 0 1px 1px;}
.page-bankcards a.payment-limit .bank-limit table th,.page-bankcards a.payment-limit .bank-limit table td{padding:8px 5px;font-weight:normal;text-align:center;border-style:solid;border-color:#CCC;border-width:1px 1px 0 0;}
.page-bankcards a.payment-limit .bank-limit table thead th,.page-bankcards a.payment-limit .bank-limit table thead td{background-color:#E4E4E4;}
.page-bankcards a.payment-limit .bank-limit table tbody th{color:#DE5936;}
.bankcard-list{width:700px;overflow:hidden;}
.bankcard-list ul{width:720px;}
.bankcard-list li,.bankcard-list li a i{width:220px;height:120px;background-image:url(../images/user/bankcards.png);background-repeat:no-repeat;}
.bankcard-list li{float:left;margin-right:20px;margin-bottom:20px;}
.bankcard-list li a{position:relative;display:block;width:220px;height:40px;padding-top:80px;color:#FFF;font-size:17px;text-align:center;}
.bankcard-list li a b{position:absolute;right:0;top:0;display:block;width:44px;height:37px;background-image:url(../images/user/bank-ico-default.png);_background-image:url(../images/user/bank-ico-default-fix.png);background-repeat:no-repeat;}
.bankcard-list li a i{position:absolute;display:block;top:0;left:0;visibility:hidden;background-position:-221px 0;filter:alpha(opacity=85);opacity:.85;}
.bankcard-list li a:hover{text-decoration:none;*border:0;}
.bankcard-list li a:hover i{visibility:visible;}
.bankcard-list li.bank-add{background-position:0 0;}
.bankcard-list li.bank-c01{background-position:0 -121px;}
.bankcard-list li.bank-c02{background-position:-221px -121px;}
.bankcard-list li.bank-c03{background-position:0 -242px;}
.bankcard-list li.bank-c04{background-position:-221px -242px;}
.bankcard-list li.bank-c05{background-position:0 -363px;}
.bankcard-list li.bank-c06{background-position:-221px -363px;}
.bankcard-list li.bank-c07{background-position:0 -484px;}
.bankcard-list li.bank-c08{background-position:-221px -484px;}
.bankcard-list li.bank-c09{background-position:0 -605px;}
.bankcard-list li.bank-c10{background-position:-221px -605px;}
.bankcard-list li.bank-c11{background-position:0 -726px;}
.bankcard-list li.bank-c12{background-position:-221px -726px;}
.bankcard-list li.bank-c13{background-position:0 -847px;}
.bankcard-list li.bank-c14{background-position:-221px -847px;}
.bankcard-list li.bank-c15{background-position:0 -968px;}
.bankcard-list li.bank-c16{background-position:-221px -968px;}
.bankcard-list li.bank-c17{background-position:0 -1089px;}
.bankcard-list li.bank-c18{background-position:-221px -1089px;}
.bankcard-list-none{padding:30px 50px;}
.bankcard-list-none h3,.bankcard-list-none h4{text-align:center;font-weight:normal;margin:20px 0;}
.bankcard-list-none h3{font-size:18px;color:#595757;}
.bankcard-list-none h4{font-size:14px;color:#333;}
.bankcard-list-none h3 a,.bankcard-list-none h4 a{color:#0990e6;}
.bankcard-highlight{line-height:20px;color:#db5629;*margin-top:20px;border-style:solid;border-color:#CCC;border-width:1px;}
/* Page identity */
.ctt-identity-step,.ctt-identity-step li,.ctt-identity-step li span{background-image:url(../images/user/identity-step.png);background-repeat:no-repeat;}
.ctt-identity-step{position:relative;height:40px;overflow:hidden;border-style:solid;border-color:#dedede;border-width:0 1px;background-repeat:repeat-x;background-position:0 -123px;}
.ctt-identity-step ul{position:relative;*margin:0 -6px;display:block;height:40px;line-height:40px;overflow:hidden;}
.ctt-identity-step li{float:left;text-align:center;width:25%;padding-right:25px;margin-right:-25px;position:relative;background-position:right -82px;color:#898989;font-size:18px;}
.ctt-identity-step li span{display:block;height:40px;background-position:-25px 0;}
.ctt-identity-step li.start span{background-image:none;}
.ctt-identity-step li.current{background-position:right -41px;background-color:#DB5629;color:#FFF;}
.ctt-identity-step li.current span{background-position:0 0;}
.ctt-bSelect,.ctt-bSelect-bank{background-image:url(../images/user/select-banks.png);background-repeat:no-repeat;}
.ctt-bSelect{display:block;width:268px;height:32px;line-height:32px;position:relative;background-position:0 0;}
.ctt-bSelect-text{position:relative;cursor:pointer;display:block;height:32px;font-size:16px;color:#333;padding-left:10px;}
.ctt-bSelect-text .ctt-bSelect-bank{position:absolute;left:10px;top:2px;}
.ctt-bSelect-span{position:absolute;left:0;top:31px;}
.ctt-bSelect-banklist{display:block;width:534px;padding:8px;overflow:hidden;background-color:#FFF;border-style:solid;border-color:#CCC;border-width:1px;}
.ctt-bSelect-banklist li{float:left;width:162px;height:52px;padding:8px;}
.ctt-bSelect-banklist li a{display:block;width:155px;height:40px;padding-top:10px;padding-left:5px;border-style:solid;border-color:#CCC;border-width:1px;}
.ctt-bSelect-banklist li a:hover{border-color:#DB5629;}
.ctt-bSelect-bank{display:block;width:155px;height:28px;}
i.bank-c01{background-position:0 -32px;}
i.bank-c02{background-position:0 -61px;}
i.bank-c03{background-position:0 -90px;}
i.bank-c04{background-position:0 -119px;}
i.bank-c05{background-position:0 -148px;}
i.bank-c06{background-position:0 -177px;}
i.bank-c07{background-position:0 -206px;}
i.bank-c08{background-position:0 -235px;}
i.bank-c09{background-position:0 -264px;}
i.bank-c10{background-position:0 -293px;}
i.bank-c11{background-position:0 -322px;}
i.bank-c12{background-position:0 -351px;}
i.bank-c13{background-position:0 -380px;}
i.bank-c14{background-position:0 -409px;}
i.bank-c15{background-position:0 -438px;}
i.bank-c16{background-position:0 -467px;}
i.bank-c17{background-position:0 -496px;}
i.bank-c18{background-position:0 -526px;}
.ctt-bSelect-citys{display:block;width:560px;padding:20px;overflow:hidden;position:relative;background-color:#FFF;border-style:solid;border-color:#CCC;border-width:1px;}
.ctt-bSelect-citys-close{position:absolute;right:0;top:0;display:block;width:40px;height:40px;line-height:40px;text-align:center;font-size:40px;color:#CCC;}
.ctt-bSelect-citys-close:hover{text-decoration:none;color:#999;}
.ctt-bSelect-citys-class{border-bottom:1px solid #CCC;}
.ctt-bSelect-citys-class a{margin-left:25px;font-size:14px;color:#333;}
.ctt-bSelect-citys-class a:hover{color:#0990e6;}
.ctt-bSelect-citys-class a.current{color:#0990e6;text-decoration:underline;}
.ctt-bSelect-citys-list dl{display:block;}
.ctt-bSelect-citys-list dt{float:left;width:40px;font-size:14px;text-align:right;}
.ctt-bSelect-citys-list dd{float:left;width:520px;}
.ctt-bSelect-citys-list dd a{margin-left:25px;color:#333;}
.ctt-bSelect-citys-list dd a:hover{color:#0990e6;}
.ctt-link-protocol{margin:10px 0;}
.ctt-link-protocol a{color:#0990e6;}
.ctt-msg-important{color:#333;border-style:solid;border-color:#db5629;border-width:1px;}
.ctt-msg-important em{color:#db5629;}
.ctt-identity-map{width:790px;padding-top:350px;margin:50px auto;text-align:center;background-image:url(../images/user/user-valid-step1.png);background-repeat:no-repeat;}
.page-identity{padding:50px;background-color:#FFF;border-style:solid;border-width:1px;border-color:#e9eaee;}
.page-identity .ctt-block-foot{border-top:1px solid #CCC;background-position:50% 20px;padding:90px 0 20px;}
.page-identity .pwd-input,.page-identity .text-input{width:250px;}
.page-identity .ctt-rows .ui-select{float:left;margin-right:10px;}
.page-identity .ctt-span-detail{position:relative;font-size:16px;}
.page-identity .ctt-span-detail-p{bottom:auto;top:-15px;margin-left:100px;*margin-left:30px;}
.page-identity .identity-notify{font-size:16px;font-weight:bold;color:#db5629;}
.page-identity .ctt-bSelect{float:left;}
/* Page payment */
.page-payment{padding:50px;background-color:#FFF;border-style:solid;border-width:1px;border-color:#e9eaee;}
.page-payment .payment-order{font-size:14px;color:#333;background-color:#FEEFEA;}
.page-payment .payment-order strong{font-size:24px;color:#db5629;}
.page-payment .payment-order em{color:#9e6c1e;}
.page-payment .payment-order .ui-right{width:360px;}
.page-payment .payment-card-more{display:block;width:160px;height:44px;line-height:44px;font-size:14px;color:#db5629;text-align:center;border:1px dashed #f2c1b0;margin:20px 0;padding-left:10px;background-image:url(../images/user/bank-drop-ico.png);background-repeat:no-repeat;background-position:20px 50%;}
.page-payment .pwd-input{width:250px;}
.page-payment .ctt-help-kefu{padding-top:10px;border-top:1px solid #CCC;}
.ctt-payment-list li a{display:block;height:65px;line-height:65px;position:relative;padding:1px 25px;color:#333;border-style:solid;border-color:#FFF #FFF #CCC;border-width:1px;}
.ctt-payment-list li a input{position:absolute;top:22px;left:25px;}
.ctt-payment-list li a .ctt-bSelect-bank{position:absolute;top:18px;left:50px;}
.ctt-payment-list li a .payment-card-no{position:absolute;top:0;left:230px;}
.ctt-payment-list li a .payment-card-default{position:absolute;top:22px;left:300px;display:block;width:40px;height:20px;line-height:20px;background-color:#dba229;color:#FFF;text-align:center;}
.ctt-payment-list li a .payment-card-limit{position:absolute;top:0;left:360px;visibility:hidden;}
.ctt-payment-list li a .payment-price{position:absolute;right:25px;top:0;font-size:14px;visibility:hidden;}
.ctt-payment-list li a .payment-price strong{font-size:18px;color:#dba229;font-weight:normal;}
.ctt-payment-list li a:hover,.ctt-payment-list li a.current{padding:0 24px;color:#333;text-decoration:none;border-color:#e7a38c;border-width:2px;border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.ctt-payment-list li a.current{border-color:#db5629;}
.ctt-payment-list li a:hover .payment-price,.ctt-payment-list li a.current .payment-price,.ctt-payment-list li a:hover .payment-card-limit,.ctt-payment-list li a.current .payment-card-limit{visibility:visible;}
.payment-order-success,.payment-order-btn{padding-left:250px;}
.payment-order-success{font-size:24px;color:#18b160;background-image:url(../images/user/ico-pay-success.png);background-repeat:no-repeat;background-position:180px 50%;}
.payment-order-btn{padding-top:30px;padding-bottom:10px;}
.payment-order-btn a{margin-right:20px;padding:8px 30px;}
.payment-order-desc{font-size:14px;border-style:solid;border-color:#CCC;border-width:1px 0;}
.payment-order-desc em,.payment-order-desc a{color:#9e6c1e;}
/* user payment by zyh 0814 */
.pwd-vaildCode{float:left;}
.btn-validCode{float:left;}
.btn-code-disabled{background:#cacaca;}
.valid-code-only .ctt-rows{position:relative;}
.valid-code-only .ui-tip-msg{position:absolute;top:0;left:320px;}
.qa-help{position:relative;margin-left:3px;margin-top:2px;}
.qa-abs{position:absolute;margin-left:-15px;}
.qa-help i{position:absolute;top:0;left:0;display:block;width:13px;height:13px;background-image:url(../images/base/amp-detail-icons.png);background-repeat:no-repeat;background-position:0 -239px;}
.qa-help .ui-tip-msg{position:absolute;width:240px;left:-124px;top:22px;text-align:center;color:#DC551B;font-size:12px;visibility:hidden;}
.qa-help:hover{border:0;text-decoration:none;}
.qa-help:hover i{background-position:0 -351px;}
.qa-help:hover .ui-tip-msg{visibility:visible;}
.bank-list{margin-bottom:25px;padding-bottom:6px;border-bottom: 1px solid #e4e4e4;}
.bank-list li{float: left;width:110px;height: 32px;line-height: 32px;margin-right:20px;text-align: center;}
.bank-list li a{font-size: 18px;color:#333;text-decoration: none;}
.bank-list li a:hover{color:#e95d01;text-decoration: none;}
.bank-list li.active{border: 1px solid #e95d01;border-radius: 3px}
.bank-list li.active a{color:#e95d01}
.no-order{text-align: center;font-size: 14px;color:#575757;}
.no-order a{color:#558cfb;}
/* 1118 */
.ctt-act-items{ float:left; width:347px; text-align:center;}
.ctt-act-inner{ padding:40px 25px 0;}
.act-line{ height:500px;border-right: 1px solid #eee;}
.act-desc{ margin-top:24px;}
.wait-info{ margin-top:50px;}
.act-txt-wrap{ height:68px; line-height:68px; border:1px dashed #bfbfbf;font-size:14px;}
.wait-msg{ font-size:20px;color: #898989;}
.act-tips{ padding-top:10px;font-size:12px;color: #898989; text-align:left;}
.wait-use{color: #333;}
.wait-use a,.wait-use i{color: #e95d01; font-style:normal; font-family:arial;}
.wait-use a:hover{ text-decoration:underline;}
.act-noallow{ margin-top:-5px; padding-top:0;}
