<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="StorageConnectionString"
         value="BlobEndpoint=https://jymstoredev.blob.core.chinacloudapi.cn/;QueueEndpoint=https://jymstoredev.queue.core.chinacloudapi.cn/;TableEndpoint=https://jymstoredev.table.core.chinacloudapi.cn/;AccountName=jymstoredev;AccountKey=FZUO4IQaPFftvdSPu3/PF+Jyn3pIGU37jvFUXdplk9Gv0loOQjCHoEsUwpRjOQEo5EQ9t8OL9ddvcVe9gm7crw==" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>