<div class="ui-login-header">
    <div class="login-header-inner wrapper clearfix">
        <div class="login-logo-wrap">
            <a class="login-logo" href="/"><img src="/static/images/base/logo.png" alt=""/></a>
        </div>
        <div class="login-info-wrap clearfix">
            <div class="login-info-menu gray6">
                <a class="go-home" href="/">回到主页</a><i class="line">|</i> <a href="http://source.jinyinmao.com.cn/">帮助中心</a>
            </div>
            <div class="login-info-phone">
                <span class="login-phone">4008-556-333</span>
            </div>
        </div>
    </div>
</div>
<!--/header-->