@{ 
    Layout = "~/_layout/passport/Main.cshtml";
    Page.Title = "设置密码";
}
@section PageScript {
    <script src="/static/js/lib/jsmd5.min.js"></script>
    <script src="/static/js/passport/common.js"></script>
    <script src="/static/js/passport/index.js"></script>
    <script>
    Zepto(function(){
        zim.page.checkQuery('token');
    });
    </script>
}
@RenderPage("~/_layout/base/header_back.cshtml")
<div class="ui-content">
    <div class="jqm-account-view">
        <ul class="ui-table jqm-account-span">
            <li>
                <span class="ui-td">密码</span>
                <span class="ui-td">
                <input type="password" id="jqm-register-password1" placeholder="6-18位数字或字母" >
                </span>
            </li>
            <li>
                <span class="ui-td">确认密码</span>
                <span class="ui-td">
                <input type="password" id="jqm-register-password2" placeholder="与密码一致" >
                </span>
            </li>
        </ul>
        <div class="jqm-wrapper"><button class="ui-action ui-btn1" data-action="user-register3">同意协议并注册</button></div>
        <div class="jqm-wrapper"><p>若您已阅读并同意我们的使用条款和个人信息保护政策请点击注册 <a href="/passport/register/agreement">用户条款</a></p></div>
    </div>
</div>