@{ 
    Layout = "~/_layout/user/Main.cshtml";
    Page.Title = "我的订单";
}
@RenderPage("~/_layout/base/header_back.cshtml")
<div class="ui-content">
    <ul class="jqm-menu-nav">
        <li><a class="ui-link" href="/user/amp/list"><span>银企众盈</span></a></li>
        <li><a class="ui-link" href="/user/cpl/list"><span>商票贷</span></a></li>
    </ul>
</div>