@{
    Layout = "~/_layout/passport/_ResetSiteMain.cshtml";
    PageData["Title"] = "金银猫 - 大金融心服务 - 找回密码";
    Page.RequireMain = CatHelper.JsWrapper("<script src='/static/js/passport/resetpwd.js'></script>");
    string token = CatHelper.Request("token");
    if (string.IsNullOrEmpty(token))
    {
        Response.Redirect("~/password/reset/password1");
    }
}
@section PageStyle {
    <link rel="stylesheet" href="/static/css/resetpwd.css" />
    <script>var _token = "@token";</script>
}
<div class="reset-container wrap-txt clearfix">
    <div class="reset-inner">
        <div class="reset-title">
            <h1>找回登录密码</h1>
        </div>
        <div class="reset-two">
            <div class="reset-warn">
                <p>登录密码与支付密码不同！</p>
                <p>密码为6~18位数字和字母的组合，区分大小写；</p>
            </div>
            <div class="reset-again">
                <ul class="reset-again-list">
                    <li>
                        <label class="lab" for=""><span class="required-fields">*</span>请输入新登录密码</label> <input class="common-text" type="password" name="" id="password" />
                        <span class="required-error"></span>
                        <span class="required-info"><i></i><em class="req">*</em><b></b></span>
                    </li>
                    <li>
                        <label class="lab" for=""><span class="required-fields">*</span>请确认新登录密码</label> <input class="common-text" type="password" name="" id="vpassword" />
                        <span class="required-error"></span>
                        <span class="required-info"><i></i><em class="req">*</em><b></b></span>
                    </li>
                </ul>
            </div>
            <div class="reset-two-path">
                <button class="login-btn next-btn ui-action" data-action="reset-step2" id="resetBtn2">修 改</button>
            </div>
        </div>
    </div>
</div>
<!--/container-->