@{
    Layout = "~/_layout/passport/_ResetSiteMain.cshtml";
    PageData["Title"] = "金银猫 - 大金融心服务 - 找回密码";
}
@section PageStyle {     
    <link rel="stylesheet" href="/static/css/resetpwd.css" />
}
<div class="reset-container wrap-txt clearfix">
    <div class="reset-inner">
        <div class="reset-title">
            <h1>找回登录密码</h1>
        </div>
        <div class="reset-two reset-three">
            <div class="reset-warn">
                <p>定期更换密码可以让您的账户更加安全！</p>
            </div>
            <div class="reset-finish">
                <p>密码已重置成功！</p>
                <p>为保障您的账户安全，请保护好您的登录密码!</p>
            </div>
        </div>
    </div>
</div>
<!--/container-->