@{ 
    Layout = "~/_layout/partner/Main.cshtml";
    Page.Title = "银行卡开户信息";
}
@section PageScript {
    <script src="/static/js/partner/yilian.js"></script>
    <script>
    Zepto(function(){
        zim.page.yilian.identity.init();
    });
    </script>
}
<div class="ui-content">
    <div id="jqm-identity-valid"></div>
</div>
<script type="text/tpl" id="jqm-tpl-identity">
@RenderPage("~/tpl/user/yilian/identity.cshtml")
</script>
<script type="text/tpl" id="jqm-tpl-idtype">
@RenderPage("~/tpl/user/yilian/idtype.cshtml")
</script>