<div class="ui-footer">
    <div class="ui-grid2 jqm-page-footer">
        <div class="ui-block-a">
            <a class="jqm-sns-weibo" href="http://weibo.com/3822187413">微博</a>
            <!--<a class="jqm-sns-weixin" href="###">微信</a>-->
        </div>
        <div class="ui-block-b">
            <a class="jqm-service-phone" href="tel:4008556333">4008-556-333</a>
            <a class="jqm-service-msg" href="/page/feedback">反馈</a>
            <a class="jqm-service-pc" href="http://jinyinmao.com.cn/?m=f">PC版</a>
        </div>
    </div>
</div>