@{
    string Title = Page.Title ?? "金银猫";
}<div class="ui-header">
    <div class="ui-wrapper">
        <div class="ui-left">
            <a class="jqm-page-back" data-action="back" href="#">返回</a>
        </div>
        <h1 class="jqm-title">@Title</h1>
    </div>
</div>