<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="EventStore"
         connectionString="Data Source=fe_cqrs.db.i.jinyinmao.com.cn;Initial Catalog=FE_CQRS;Persist Security Info=True;User ID=user_import;Password=123@456"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EventProcessorAddress" value="amqp://guest:guest@rabbitmq.i.jinyinmao.com.cn:5672" />
  </appSettings>
</configuration>