@{ 
    Layout = "~/_layout/base/Main.cshtml";
    Page.Title = "安全信息";
}
@RenderPage("~/_layout/base/header_back.cshtml")
<div class="ui-content app-page-safe">
    <div class="app-safe-banner"><img src="/static/images/safe/banner.jpg" /></div>
    <div class="app-safe-wrap">
        <h3 class="li-1"><span>银行信誉</span></h3>
        <p>金银猫产品均使用<em>银行承兑汇票</em>作为抵押物。所有银票均由银行托管。产品到期后将由<em>银行无条件兑付本息</em>。</p>
        <hr />
        <h3 class="li-2"><span>票源保真</span></h3>
        <p>所使用银票由金银猫专业验票团队和托管银行<em>双重检验</em>，杜绝假票。</p>
        <p>并定时发起流通及挂失查询，保证产品到期兑付。</p>
        <hr />
        <h3 class="li-3"><span>保险承保</span></h3>
        <p>太平洋保险为金银猫承保董监事及高级管理人员责任险，专业人员职业责任险和商业犯罪防护险。</p>
        <p>任何由以上人员或原因造成的投资者利益损害将由<em>太平洋保险依法赔付</em>。</p>
        <hr />
    </div>
    <div class="app-safe-foot">
        <strong>更多信息请垂询金银猫客服</strong>
        <a href="tel:4008556333">4008-556-333</a>
    </div>
</div>