@{
    dynamic UserInfo = Page.UserInfo;
}<div class="buy-main">
    <div class="buy-main-inner">
        <div class="buy-step-title clearfix">
            <h2><span class="step-title-num"><i>1.</i>输入手机号</span></h2>
        </div>
        <div class="buy-step-main">
            <p class="buy-user buy-user-mobile">
                <span>手机号：@CatHelper.FixCellphone(UserInfo.Cellphone)</span><i class="correct-icon"></i>
                <em class="tempLogout"><a href="#" class="ui-action" data-action="tempChangeMobile">退出</a></em>
            </p>
        </div>
        <div class="buy-step-title">
            <h2 class="on"><span class="step-title-num"><i>2.</i>填写支付信息</span></h2>
        </div>
        <div class="buy-step-main buy-confirm-only">
            <ul class="buy-step-list">
<li><div class="ui-msg"><p class="ui-warn">为保护您的账户安全，请设置登录密码后再完成支付。</p></div></li>
<li>
    <label class="lab">登录密码：</label>
    <div class="buy-plan clearfix">
        <input class="MsgContext common-text" type="password" maxlength="18" id="ctt-password1" />
    </div>
</li>
<li>
    <label class="lab">确认密码：</label>
    <div class="buy-plan clearfix">
        <input class="MsgContext common-text" type="password" maxlength="18" id="ctt-password2" />
    </div>
</li>
<li>
    <label class="lab">&nbsp;</label>
    <div class="buy-plan clearfix">
        <button class="ui-action btn-common" data-action="setPassword">确认</button>
    </div>
</li>
            </ul>
        </div>
        <div class="buy-step-title">
            <h2><span class="step-title-num"><i>3.</i>购买成功</span></h2>
        </div>
        <div class="buy-step-main"></div>
    </div>
</div>