<li>
    <div class="blank-pwd-help">
        <p>设置兴业票交易密码</p>
    </div>
</li>
<li>
    <label class="lab">交易密码：</label>
    <div class="buy-plan">
        <input class="MsgContext common-text input-min" type="password" id="ctt-password1" maxlength="18" />
        <div style="padding-top:5px;color:#999;">密码为8-18位字母、数字和符号(~!@@#$%^&*_)的组合，区分大小写。</div>
    </div>
</li>
<li>
    <label class="lab">确认密码：</label>
    <div class="buy-plan">
        <input class="MsgContext common-text input-min" type="password" id="ctt-password2" maxlength="18" />
    </div>
</li>