@{
    dynamic Data = Page.Data;
    string productName = CatHelper.GetProductName(Data.ProductName, Data.ProductNumber);
}<div class="buy-side">
    <dl class="buy-side-img">
        <dd></dd>
        <dd></dd>
        <dd></dd>
        <dd></dd>
        <dd></dd>
        <dd></dd>
        <dd></dd>
        <dd></dd>
    </dl>
    <div class="buy-side-inner">
        <div class="buy-info-title">
            <h1>@productName</h1>
        </div>
        <div class="buy-info-main">
            <div class="buy-info-txt">
                <p>年化利率：<i>@(Data.Yield)%</i></p>
                <p>融资金额：<i>@(Data.FinancingSum / 10000)</i>万</p>
                <p>项目编号：@Data.ProductNo</p>
                <p>投资周期：<i>@Data.Period</i>天</p>
                <p>投资单位：@(Data.UnitPrice)元/份</p>
                <p>最小投资份数：@(Data.MinShareCount)份</p>
                <p>最大投资份数：@(Data.MaxShareCount)份</p>
                <p>可购买份数：@(Data.AvailableShareCount)份</p>
                <p>支付中份数：@(Data.PayingShareCount)份</p>
            </div>
            <div class="buy-info-btn"><a class="buy-link" href="/">返回兴业票列表</a></div>
        </div>
    </div>
</div>